 .u-section-1 {
  background-image: url("images/businessman-working-with-laptop-office.jpg");
  background-position: 50% 50%;
  min-height: 758px;
}

.u-section-1 .u-list-1 {
  width: 459px;
  margin: 70px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 656px;
  grid-gap: 40px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  min-height: 325px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 11px;
}

.u-section-1 .u-image-1 {
  width: 365px;
  height: 213px;
  margin: 16px 14px 0 auto;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  margin: 24px 22px 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.125rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  margin: 35px 54px 0 auto;
  padding: 15px 41px 15px 40px;
}

.u-section-1 .u-image-2 {
  width: 163px;
  height: 101px;
  margin: -80px auto 0 22px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -242px 30px 0 629px;
}

.u-section-1 .u-text-4 {
  margin: 30px 69px 60px 629px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 625px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 459px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 39px;
    margin-left: 459px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 479px;
  }

  .u-section-1 .u-text-3 {
    width: 481px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin: 12px 0 14px 278px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 31.25% 50%;
    min-height: 359px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 98px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1001px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 751px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 40px;
    min-height: 299px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -51px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 257px;
    width: 440px;
    margin-top: 41px;
    margin-right: auto;
    margin-left: -4px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 145px;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    width: 180px;
    height: 111px;
    margin-top: -189px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 13px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin: 4px calc(((100% - 340px) / 2)) 10px;
  }
}